dict.cc.py>=3.0.0
matplotlib>=3.1.1
PyYAML>=5.1.1
uvloop>=0.12.2
discord.py>=1.7.0
python-dateutil>=2.8.1
PixivPy-Async>=1.2.11
-e git+https://github.com/strinking/python-duckduckgo@master#egg=duckduckgo-async
-e git+https://github.com/pfeyz/merriam-webster-api@master#egg=merriam-webster-api
